In [44]:
n = 3
if n % 2 != 0:
    print("Weird")
elif n % 2 == 0 and n in range(2,6):
    print("Not Weird")
elif n % 2 == 0 and n in range(6,21):
    print("Weird")
elif n % 2 == 0 and n >= 20:
    print("Not Weird")

n = 24

if n % 2 != 0:
    print("Weird")
elif n % 2 == 0 and n in range(2,6):
    print("Not Weird")
elif n % 2 == 0 and n in range(6,21):
    print("Weird")
elif n % 2 == 0 and n >= 20:
    print("Not Weird")

Weird
Not Weird

In [83]:
# making variable, includes string with many charas # 
pesan = "Selamat datang di Sesi 2 Python 109!"
print(pesan)

Selamat datang di Sesi 2 Python 109!

In [84]:
nadias_age = 23
if nadias_age == 24:
    print("Nadia's in her early 20s") 
if nadias_age >= 24:
    print("Nadia's in her mid to late 20s")
else: 
    print("Not of age")

Not of age

In [85]:
x = 101
if x > 100:
    print("besar")
else: 
    print("tidak")

besar

In [86]:
nadias_things = {
    "food" : "pasta",
    "drink" : "coffee", 
    "pet" : "cat",
    "color" : "black" or "white",
    "age" : 24
}
if nadias_things["age"] == 23:
    print("Nadia's still in her first job")
else:
    print("Nadia's no longer in her first job")

Nadia's no longer in her first job

In [87]:
if nadias_things["food"] != "pasta":
    print(nadias_things["food"] + " " + "is supposed to  be her food thing")
elif nadias_things["food"] == "pasta":
    print("maybe it is right")
else: 
    print("It's okay")

maybe it is right

In [88]:
if nadias_things["age"] == 24 and nadias_things["drink"] == "matcha":
    print("It's trueeee")
else:
    print("Guess what is true and what is not")

Guess what is true and what is not

In [11]:
pet_1 = "piyik" 
pet_now = "yes" if pet_1 == "piyik" else "popoy"
pet_now

'yes'

loop
while = example: neverending 'if'
for = utk execute sekian kali

In [89]:
for testa in range(20):
    print(testa ** 2)
# basically 0^2 - 20^2 #

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361

In [8]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [9]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [10]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [11]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [90]:
x = 70 
while x <= 80:
    print(x)
    x = x + 1

70
71
72
73
74
75
76
77
78
79
80

In [12]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [13]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [14]:
for x in range(2, 30, 3):
  print(x)
# increment the sequence with 3

2
5
8
11
14
17
20
23
26
29

In [15]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [16]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

In [17]:
# nested loops
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [5]:
for a in range(69,80):
    print(a + 1)

70
71
72
73
74
75
76
77
78
79
80

In [6]:
# will give output of every chara in "Nadia" #
for x in "Nadia":
    print(x)

N
a
d
i
a

In [10]:
for x in range(100):
    if (x / 10 == 5):
        print("There is one, which is = ",x)

There is one, which is =  50

In [2]:
murid_murid = [ 
    {"nama": "Andhika Raharjo", "nilai": [85, 65, 90, 70]},
    {"nama": "Budi Budiman", "nilai": [75, 70, 65, 60]},
    {"nama": "Cindy Cantika", "nilai": [60, 70, 80, 90]},
    {"nama": "Denisa Trisnadi", "nilai": [80, 85, 90, 60]},
    {"nama": "Erika Cahyadi", "nilai": [69, 88, 77, 60]}
    ]
# print nama murid yang memiliki nilai rata2 diatas 70 #

In [3]:
sum_0 = sum(murid_murid[0]["nilai"])
sum_1 = sum(murid_murid[1]["nilai"])
sum_2 = sum(murid_murid[2]["nilai"])
sum_3 = sum(murid_murid[3]["nilai"])
sum_4 = sum(murid_murid[4]["nilai"])

In [4]:
len_0 = len(murid_murid[0]["nilai"])
len_1 = len(murid_murid[1]["nilai"])
len_2 = len(murid_murid[2]["nilai"])
len_3 = len(murid_murid[3]["nilai"])
len_4 = len(murid_murid[4]["nilai"])

In [5]:
nilai0 = (sum_0 / len_0)
nilai1 = (sum_1 / len_1)
nilai2 = (sum_2 / len_2)
nilai3 = (sum_3 / len_3)
nilai4 = (sum_4 / len_4)

In [6]:
print(nilai0)
print(nilai1)
print(nilai2)
print(nilai3)
print(nilai4)

77.5
67.5
75.0
78.75
73.5

In [7]:
print(f"It would be nice if my score was at least above {nilai2}")

It would be nice if my score was at least above 75.0

In [8]:
rataan_murid = [ 
    {"nama": "Andhika Raharjo", "nilai": 77.5},
    {"nama": "Budi Budiman", "nilai": 67.5},
    {"nama": "Cindy Cantika", "nilai": 75.0},
    {"nama": "Denisa Trisnadi", "nilai": 78.75},
    {"nama": "Erika Cahyadi", "nilai": 73.5}
    ]

In [18]:
for nama in rataan_murid:
    if nama["nilai"] > 70:
        print(nama)

{'nama': 'Andhika Raharjo', 'nilai': 77.5}
{'nama': 'Cindy Cantika', 'nilai': 75.0}
{'nama': 'Denisa Trisnadi', 'nilai': 78.75}
{'nama': 'Erika Cahyadi', 'nilai': 73.5}

1. cari rata2 nilai tiap orang
2. assign rata2 itu ke tiap orang (bikin dict baru) (loop pake f)
3. pake for cari dah yg rata2 nilainya di atas 70 siapa aja

In [60]:
print(1,6)

1 6