In [2]:
123

123

In [4]:
print(200)

200

In [5]:
type(750)

int

# tipe data di Python
1. Integer (angka bulat)
2. Float (angka ada desimal poin)

## keyword Python
- print (untuk mencetak data ke display)
- type (untuk mengecek tipe data)

In [6]:
"Python"

'Python'

In [7]:
type("Python")

str

In [8]:
print(type("Python"))

<class 'str'>

In [13]:
print(type("1"))
2
3
4

<class 'str'>

4

In [15]:
type(0.0)

float

In [16]:
type(0)

int

4 tipe data dasar (primitive data type):

semua yang dikutip menjadi tipe data String 'str'

semua angka yang tidak memiliki desimal poin menjadi tipe data Integer 'int'

semua angka yang memiliki desimal poin menjadi tipe data Float 'float'

khusus untuk `True` dan `False`, mereka adalah tipe data Boolean 'bool'

In [17]:
True

True

In [18]:
False

False

In [19]:
type(True)

bool

basic dari coding, pemrograman, adalah konsep ya/ tidak. dua value.

kalau iya True, maka kita masuk ke blok kode yang ini... kalau tidak, ke blok kode yang itu...

## Data Types

hanya ada beberapa tipe data yang dimengerti oleh bahasa pemrograman seperti Python:
1. int 123
2. float 1.23
3. string "Halo!"
4. boolean True False

data kalau kita tulis secara lepas, hanya bisa dibaca dan digunakan 1 kali. Misalnya kita mau simpan data nama murid, nilai murid. kalau kita tulis "Andi" 70 maka dua data ini cuma digunakan 1 kali saja.

Biasanya data kita simpan ke `variable`

## Variable
kasih nama ke sebuah data.

```python
nilai_andi = 70

#kita punya variable `nilai_andi` dan di dalam variable tersebut tersimpan data int 70

Nilai_andi = 71
nilai_Andi = 72
Nilai_Andi = 73
```

peraturan penulisan variable:
- dimulai dengan alfabet
- spasi kita ganti jadi _
- semua huruf kecil

snake_case untuk Variable

!! tidak boleh menggunakan keyword Python sebagai nama variable. Python tidak akan error, tapi kita akan kehilangan fungsi keyword tersebut. Misalnya, kalau kita bilang `print = 10` maka kita tidak bisa minta `print("halo")` lagi, keyword print tertimpa.

In [20]:
nilai_andi = 70

Nilai_Andi = 71
Nilai_andi = 72
nilai_Andi = 73
nilaiandi = 74
nilaiAndi = 75
NilaiAndi = 76

print(nilai_andi)
print(Nilai_Andi)
print(Nilai_andi)
print(nilai_Andi)
print(nilaiandi)
print(nilaiAndi)
print(NilaiAndi)

70
71
72
73
74
75
76

seperti yang bisa kita lihat di atas, variable bisa menyimpan data. Kita bisa panggil nama variable tersebut untuk mengakses data kita lagi.

nama variable huruf besar kecil nya dianggap berbeda oleh Python. Tapi untuk kita, manusia, semuanya hampir sama. Karena itu kita standarisasi cara tulis variable pakai snake_case kecil semua, spasi diganti _

In [25]:
nilai_andi

70

In [26]:
nilai_andi = 80

print(nilai_andi)

80

In [27]:
nilai_andi = "A"

print(nilai_andi)

A

## Operators and Expressions in Python

set code yang bertujuan melakukan sesuatu, biasanya menerima data - diproses - memberikan output.

Python dari bawaanya sendiri, sudah punya fungsi bawaan. built-in functions.

misalnya, dia bisa jadi kalkulator. aritmatik + - * / bukan masalah

selain aritmatik, ada juga fungsi mengubah tipe data lainnya misalnya string jadi huruf BESAR semua.

In [28]:
50 + 100

150

In [29]:
pesan = "Mari belajar Data Science dengan Python!"

pesan.upper()

'MARI BELAJAR DATA SCIENCE DENGAN PYTHON!'

tipe data numerik, int dan float

kita bisa lakukan aritmatik

In [30]:
2 + 5 * 8 / 7 - 60

-52.285714285714285

In [31]:
2 + 5.8 * 8 / 7 - 60.5

-51.871428571428574

In [32]:
1.15 + 2.25 + 3.35

6.75

In [33]:
nilai_andi_a1 = 65
nilai_andi_a2 = 75
nilai_andi_a3 = 80
nilai_andi_final = 95

total_nilai_andi = nilai_andi_a1 + nilai_andi_a2 + nilai_andi_a3 + nilai_andi_final

rata2_nilai_andi = total_nilai_andi / 4

print(rata2_nilai_andi)

78.75

selain aritmatik, kita punya pembanding atau dipanggil comparator

- `>` lebih besar dari
- `<` lebih kecil dari
- `>=` lebih besar atau sama dengan dari
- `<=` lebih kecil atau sama dengan dari
- `==` sama
- `!=` berbeda

kita gunakan untuk membandingkan 2 data, biasanya dalam bentuk 2 variable

hasil komparasi akan berbentuk boolean `True` untuk "iya" dan `False` untuk "tidak"

In [35]:
nilai_budi_a1 = 80

# apakah nilai budi lebih besar dari nilai andi untuk assignment 1?

print(nilai_budi_a1 > nilai_andi_a1)

True

data non numerik juga bisa di komparasi

In [36]:
print("a" > "b")

False

In [37]:
print("a" > "A")

True

selain numerik, string juga bisa di komparasi. ini berguna saat kita mau sortir data.

## penjelasan Boolean
semua data di bahasa pemrograman memiliki value boolean nya.

data bisa kita konversi tipenya antara satu sama lain.
- int --> float
- float --> integer
- int, float --> string
- string (khusus fully angka) --> int atau float
- semua data --> boolean

kenapa semua data bisa jadi boolean? semua data yang "kosong" dianggal False. data yang ada isinya dianggap True. yang dianggap False adalah:
- 0 int
- 0.0 float
- "" string
- False boolean

semua data lain dianggap True, bahkan -10 dianggap True padahal 0 dianggap 0.

berikutnya kita bisa coba konversi antar tipe data

In [38]:
a = 100
print(type(a))

<class 'int'>

In [39]:
b = float(a)
print(type(b))

<class 'float'>

In [40]:
print(a, b)

100 100.0

In [43]:
a = 99.8
print(a, type(a))

b = int(a)
print(b, type(b))

99.8 <class 'float'>
99 <class 'int'>

In [44]:
# semua data bisa jadi string

c = str(a)
print(c, type(c))

c = str(b)
print(c, type(c))

99.8 <class 'str'>
99 <class 'str'>

In [54]:
# hanya string yang valid, beneran numerik, bisa jadi int atau float

c = "0"
print(c, type(c))

b = float(c)
print(b, type(b))

a = int(c)
print(a, type(a))

0 <class 'str'>
0.0 <class 'float'>
0 <class 'int'>

In [61]:
# semua tipe data bisa jadi boolean

print(a, type(a), bool(a))
print(b, type(b), bool(b))
print(c, type(c), bool(c))

0 <class 'int'> False
0.0 <class 'float'> False
0 <class 'str'> True

In [59]:
print(c, type(c), bool(c))

d = ""
print(d, type(d), bool(d))

0 <class 'str'> True
 <class 'str'> False

manipulasi String

- kita sudah belajar cara melakukan aritmatik, 
- konsep boolean truthy dan falsy
- operator untuk komparasi, bisa komparasi numerik dan string

terakhir kita mau bahas manipulasi String
- ditambah + untuk menempelkan beberapa String jadi satu
- ubah Case, misalnya UPPERCASE lowercase TitleCase
- cek panjang text string kita, ada berapa huruf
- cek apakah ada text dalam text. apakah ada "Hacktiv8" dalam pesan "mari belajar Python di Hacktiv8!"

In [62]:
print(pesan)

Mari belajar Data Science dengan Python!

In [63]:
pesan + " Hari ini kita belajar Sesi 1 menggunakan materi Hacktiv8 di kode.id."

'Mari belajar Data Science dengan Python! Hari ini kita belajar Sesi 1 menggunakan materi Hacktiv8 di kode.id.'

In [64]:
print(pesan)

Mari belajar Data Science dengan Python!

In [65]:
pesan = pesan + " OK!!"

print(pesan)

Mari belajar Data Science dengan Python! OK!!

In [66]:
print(pesan)
print(pesan.upper())
print(pesan.lower())
print(pesan.title())

Mari belajar Data Science dengan Python! OK!!
MARI BELAJAR DATA SCIENCE DENGAN PYTHON! OK!!
mari belajar data science dengan python! ok!!
Mari Belajar Data Science Dengan Python! Ok!!

In [67]:
print(len(pesan))

45

In [68]:
"Hacktiv8" in pesan

False

In [71]:
print("python" in pesan)
print("Python" in pesan)

False
True

In [72]:
print("python" in pesan.lower())

True

## Structured Data Types
- list
- dictionary

# List
`[]`

bisa diisi banyak data, setiap data dipisah dengan `,`

jenis data bebas, boleh campur int float bool str list lagi juga boleh

untuk mengambil satu data dari list, kita gunakan `index` angka integer mulai dari 0:
- data pertama dalam sebuah list, punya `index` 0
- data kedua, punya `index` 1,
- dan seterusnya
- bisa juga hitung mundur, `index` -1 untuk data terakhir dalam sebuah list
- `index` -2 untuk data nomor 2 dari belakang
- dan seterusnya
- bisa pakai `len()` untuk cek ada berapa item data dalam sebuah list
- kalau `index` tidak valid, akan error. misalnya kita minta `index` 3 padahal isi list nya cuma ada 3 item.

In [74]:
# misalnya nilai assigment 1,2,3 dan final project andi, kita simpan ke satu list
nilai_andi = [70, 80, 85, 95]

print(nilai_andi)
print(type(nilai_andi))
print(len(nilai_andi))

[70, 80, 85, 95]
<class 'list'>
4

In [75]:
# misalnya kita mau ambil nilai assignment 1 milik andi
print(nilai_andi[0])

70

kenapa kurung kotak [] dipakai lagi, dan di belakang

karena keterbatasan jenis kurung di keyboard kita, cuma ada [] () {} <>

kita akan pakai jenis kurung yang sama di tempat2 berbeda
- [] membuat list
- [] juga dipakai untuk memilih `index` tertentu sebuah list
- [] juga dipakai untuk memilih `key` tertentu sebuah dictionary

- () untuk menjalankan function, tempat kita taruh datanya, seperti print(), type(), len()
- () juga kita pakai untuk menjalankan function, yang tidak perlu data, misalnya "text".upper()

- {} membuat dictionary

In [76]:
# kita ambil value assignment ke-2
print(nilai_andi[1])

80

In [77]:
index = 1

print(nilai_andi[index])

80

In [78]:
print(nilai_andi)
print(index)

[70, 80, 85, 95]
1

In [80]:
print([70, 80, 85, 95][1])

80

kurung kotak yang pertama digunakan untuk membuat list

kurung kotak yang kedua, yang menempel dengan list kita, digunakan untuk meminta item tertentu dari list nya, menggunakan angka `index`

In [81]:
print(len(nilai_andi))

4

In [85]:
# mirip string, kita bisa pakai "in" untuk cek ada item tertentu dalam list kita

70 in nilai_andi

True

biasanya saat mempelajari tipe data baru ada 4 konsep yang mau kita kuasai, disingkat:

CRUD

1. create - bikin tipe data baru ini, pakai `[]`
2. read - bisa baca, pakai len(), pakai [index] untuk ambil item tertentu
3. update - mengubah tipe data list
4. delete - cara hapus datanya

In [87]:
# update, kita ambil dulu data di posisi tertentu, baru kita ubah
# misalnya, assignment ke-3 andi, dapat nilai tambahan 5 poin

print("nilai assignment 3 sekarang:", nilai_andi[2])

nilai assignment 3 sekarang: 85

In [88]:
nilai_andi[2] = nilai_andi[2] + 5

In [89]:
print("nilai assignment 3 setelah:", nilai_andi[2])

nilai assignment 3 setelah: 90

In [90]:
print(nilai_andi)

[70, 80, 90, 95]

In [91]:
# assign nilai assignment ke-3 menjadi 80

nilai_andi[2] = 80

print(nilai_andi)

[70, 80, 80, 95]

untuk delete data, ada cara yang "extreme" tidak direkomendasi, yaitu pakai keyword `del` untuk menghapus variable sekaligus

In [92]:
# del nilai_andi

In [93]:
# print(nilai_andi)

NameError: name 'nilai_andi' is not defined

In [94]:
# lebih di rekomen, kita set variable nya ke nilai kosong, nilai falsy
# anggap nilai_andi dihapus, kita set ke list kosong
nilai_andi = []

In [95]:
print(nilai_andi)

[]

In [96]:
# kita bisa pakai boolean untuk cek apakah variable ini ada isinya atau tidak
bool(nilai_andi)

False

kalau kosong, boolean nya selalu False

# Dictionary

tipe data terstruktur menggunakan {}, key, dan value.

kalau list menyimpan data dalam bentuk sederet data, dipisah ",", lalu setiap datanya punya angka urut `index`

maka dictionary menyimpan data dalam bentuk acak tidak urut, dipisah ",", tapi setiap data perlu kita simpan sepasang sepasang key:value. `key` adalah string yang kita gunakan menggantikan angka `index` untuk mengakses data tertentu.

In [97]:
# misal kita simpan nilai_andi sebagai dictionary
nilai_andi = {
    "assignment1": 70,
    "assignment2": 80,
    "assignment3": 85,
    "finalproject": 95
}

print(nilai_andi)
print(type(nilai_andi))

{'assignment1': 70, 'assignment2': 80, 'assignment3': 85, 'finalproject': 95}
<class 'dict'>

In [98]:
# cara baca item tertentu dalam dictionary, kita gunakan key
# misalnya assignment 1

nilai_andi["assignment1"]

70

In [99]:
# misalnya final project
nilai_andi["finalproject"]

95

list menggunakan angka urut `index` integer

dictionary menggunakan `key` string

mereka tipe data terstruktur, punya struktur, bisa menyimpan banyak data dengan satu variable

In [100]:
# untuk dictionary, misalkan kita mau ubah value nilai assignment 3

nilai_andi["assignment3"] = 100

print(nilai_andi)

{'assignment1': 70, 'assignment2': 80, 'assignment3': 100, 'finalproject': 95}

In [101]:
# selain update, kita bisa menambahkan key value juga
# misalnya ada extra credit project assignment 0

nilai_andi["assignment0"] = 10

print(nilai_andi)

{'assignment1': 70, 'assignment2': 80, 'assignment3': 100, 'finalproject': 95, 'assignment0': 10}

In [102]:
# untuk delete
# best practice, kita set ke dictionary kosong
nilai_andi = {}

ada dua tipe data terstruktur bawaan Python lainnya:
- tuple ()
- set {}

mereka mirip list juga, lebih mirip list daripada dictionary, hanya ada sedikit perbedaan rules.

tuple datanya tidak bisa di update.

set datanya unik, tidak ada data yang sama.

# Recap
1. tipe data primitif
    - int
    - float
    - str
    - bool
2. variable
    - snake_case
    - peraturan penamaan variable
3. tipe data terstruktur
    - list
    - dictionary
4. basic syntax python
    - keyword umum print, len, type
    - cara pakai function dengan ()

In [104]:
nilai_andi = {
    "assignment1": 70,
    "assignment2": 80,
    "assignment3": 85,
    "finalproject": 95
}

print(nilai_andi)

{'assignment1': 70, 'assignment2': 80, 'assignment3': 85, 'finalproject': 95}

In [105]:
# menyimpan satu item dengan banyak atribut menggunakan dictionary
# misalnya Andi sendiri

andi = {
    "nama": "Andhika Rahardjo",
    "umur": 28,
    "hobi": ["makan", "marathon", "belajar hal baru"],
    "berkacamata": True,
    "pytn109": nilai_andi
}

print(andi)

{'nama': 'Andhika Rahardjo', 'umur': 28, 'hobi': ['makan', 'marathon', 'belajar hal baru'], 'berkacamata': True, 'pytn109': {'assignment1': 70, 'assignment2': 80, 'assignment3': 85, 'finalproject': 95}}

In [106]:
# kita bisa minta list keys nya sebuah dictionary

andi.keys()

dict_keys(['nama', 'umur', 'hobi', 'berkacamata', 'pytn109'])

In [115]:
keys_andi = list(andi.keys())

print(len(keys_andi))

print("nama" in keys_andi)

5
True

In [108]:
# selain keys, ada values juga untuk ambil values nya saja, dan ada yang minta keduanya, items

nilai_andi.values()

dict_values([70, 80, 85, 95])

In [109]:
# items akan ambil datanya sepasang sepasang pakai tuple
nilai_andi.items()

dict_items([('assignment1', 70), ('assignment2', 80), ('assignment3', 85), ('finalproject', 95)])

In [110]:
list(andi.keys())

['nama', 'umur', 'hobi', 'berkacamata', 'pytn109']

In [111]:
list(andi.keys())[0]

'nama'

In [112]:
list(andi.keys())[1]

'umur'

In [ ]:
# kalau kita mau hapus key tertentu dalam sebuah dictionary
# kita bisa pakai del
# atau lebih baik best practice kita set value key tersebut ke kosong

# misal kita mau hapus nilai-nilai kelas pytn109 dari andi

andi['pytn109'] = {}

berikut tambahan untuk dictionary, keys, values, items

untuk list, kita ada tambahan juga: 
- menggunakan teknik slicing, mengambil beberapa `index` sekaligus
- menggunakan operator + dan * mirip seperti string untuk menambah item dalam list

In [117]:
buah_buahan = ['apel', 'pisang', 'jeruk', 'mangga', 'semangka']
print(buah_buahan)
print(len(buah_buahan))

['apel', 'pisang', 'jeruk', 'mangga', 'semangka']
5

In [118]:
# 3 buah terakhir
buah_buahan[-3:]

['jeruk', 'mangga', 'semangka']

In [119]:
# 2 buah pertama
buah_buahan[0:2]

['apel', 'pisang']

In [120]:
# buah ke3 sampai ke5
buah_buahan[2:5]

['jeruk', 'mangga', 'semangka']

konsep slicing akan sering sekali kita temui saat manipulasi data tabular menggunakan Pandas di sesi 5 dan seterusnya

In [121]:
# operator + dan *
print(buah_buahan)

['apel', 'pisang', 'jeruk', 'mangga', 'semangka']

In [122]:
banyak_buah = buah_buahan * 5

print(banyak_buah)

['apel', 'pisang', 'jeruk', 'mangga', 'semangka', 'apel', 'pisang', 'jeruk', 'mangga', 'semangka', 'apel', 'pisang', 'jeruk', 'mangga', 'semangka', 'apel', 'pisang', 'jeruk', 'mangga', 'semangka', 'apel', 'pisang', 'jeruk', 'mangga', 'semangka']

In [125]:
buah_buahan2 = [
    "kelapa", 
    "duku", 
    "manggis"
    ]

buah_buahan + buah_buahan2 + ["durian"]

['apel',
 'pisang',
 'jeruk',
 'mangga',
 'semangka',
 'kelapa',
 'duku',
 'manggis',
 'durian']